html{
	font-size: 20px;
}

body{
	color: red;
	background-color: black;
	font-family: arial, helvetica, sans-serif
}

div.wrapper{
	margin: 0 auto;
	width: 80%
}

nav span a{
 	background-color: black;
 	border-right: 1px solid;
 	color: red;
 	float: center;
 	padding: :10px;
 	text-decoration-color: red; 
 }

  section article p{
 	font-size: 0.8rem;
 	text-align: justify;
 }

 footer{
	background-color: ;
	color: red;
	font-size: 1.5rem;
	margin-top: 30px;
	padding: 5px;
	text-align: center;
}